<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>模拟退火路线规划</title>
    <link rel="stylesheet" href="../css/index.css"/>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=456c1cfa51dcc6ea4450f63777ab5d16&plugin=AMap.Autocomplete,AMap.PlaceSearch,AMap.MouseTool"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="container"></div>
<div id="myPageTop">
    <table>
        <tr>
            <td>
                <label>搜索：</label>
            </td>
        </tr>
        <tr>
            <td>
                <input id="tipinput"/>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">

    let lng,lat;
    let hasStart = false;

    window.onload = function() {
        map.plugin(["AMap.ToolBar"], function() {
            map.addControl(new AMap.ToolBar());
        });
        if(location.href.indexOf('&guide=1')!==-1){
            map.setStatus({scrollWheel:false})
        }
    }
    //地图加载
    var map = new AMap.Map("container", {
        resizeEnable: true
    });
    //输入提示
    var autoOptions = {
        input: "tipinput"
    };
    var auto = new AMap.Autocomplete(autoOptions);
    var placeSearch = new AMap.PlaceSearch({
        map: map
    });  //构造地点查询类
    AMap.event.addListener(auto, "select", select);//注册监听，当选中某条记录时会触发
    function select(e) {
        placeSearch.setCity(e.poi.adcode);
        placeSearch.search(e.poi.name);  //关键字查询查询
    }


    //创建右键菜单
    var menu = new ContextMenu(map);

    //自定义菜单类
    function ContextMenu(map) {

        var me = this;
        //地图中添加鼠标工具MouseTool插件
        this.mouseTool = new AMap.MouseTool(map);

        this.contextMenuPositon = null;

        var content = [];

        content.push("<div class='info context_menu'>");

        content.push("  <p  onclick='menu.addstart()'>添加起点</p>");
        content.push("  <p onclick='menu.addEnd()'>添加终点</p>");
        content.push("</div>");
        //通过content自定义右键菜单内容
        this.contextMenu = new AMap.ContextMenu({isCustom: true, content: content.join('')});

        //地图绑定鼠标右击事件——弹出右键菜单
        map.on('rightclick', function (e) {
            me.contextMenu.open(map, e.lnglat);
            me.contextMenuPositon = e.lnglat; //右键菜单位置
        });

    }

    map.on('rightclick', function(e) {
        /**
         *  鼠标经纬度
         */
        console.log( e.lnglat.getLng() + ',' + e.lnglat.getLat())
        lng = e.lnglat.getLng()
        lat = e.lnglat.getLat()

    });

    ContextMenu.prototype.addstart = function test() {//右键菜单缩放地图

        // 创建一个 Marker 实例：
        var marker = new AMap.Marker({
            position: new AMap.LngLat(lng, lat),   // 经纬度对象
            title: '起点'
        });

        // 将创建的点标记添加到已有的地图实例：
        map.add(marker);
        hasStart = true;

        this.contextMenu.close();
    };

    ContextMenu.prototype.addEnd = function test() {//右键菜单缩放地图

        // 点标记显示内容，HTML要素字符串
        var markerContent = '' +
            '<div class="custom-content-marker">' +
            '   <img src="../img/dir-via-marker.png">' +
            '   <div class="close-btn" onclick="clearMarker()">X</div>' +
            '</div>';

        var marker = new AMap.Marker({
            position: new AMap.LngLat(lng, lat),
            // 将 html 传给 content
            content: markerContent,
            // 以 icon 的 [center bottom] 为原点
            offset: new AMap.Pixel(-13, -30)
        });

        // 将 markers 添加到地图
        map.add(marker);

        this.contextMenu.close();
    };
</script>
</body>
</html>